/* mikeos.css */

body {
   background:#909193 url(images/linen.png) repeat;
   font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}

h1 {
   color: black;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
   border-bottom: 1px solid black;
}

h2 {
   color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

#mainHeader {
	text-align: center; 
	font-size: 30px; 
	border-bottom: 2px solid black;
}

#display {
	background-color:#DFDBC3;
	border: 2px solid black; 
	cursor: default;
}

/*set console to this class when 'bsod' in invoked*/
#display.bsod {
	background-color:blue;
}

.normal_button {
	width: 100px;
}

.memTDHead {
	font-size: 12px;
	width: 50px;
	border: 2px solid;
	border-color:#989898;
}

.memTD {
	font-size: 12px;
	width: 25px;
	border: 2px solid black;
	text-align: center;
}

.statusHeadTD {
	font-size: 12px;
	width: 100px;
	border: 2px solid;
	border-color:#989898;
	text-align: center;
}

.statusTD {
	font-size: 12px;
	width: 100px;
	height: 14px;
	border: 2px solid black;
	text-align: center;
}

.RQHeadTD {
	font-size: 12px;
	width: 100px;
	border: 2px solid;
	border-color:#989898;
	text-align: center;
}

.RQTD {
	font-size: 12px;
	width: 100px;
	height: 14px;
	border: 2px solid black;
	text-align: center;
}

.footerText {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
   text-align: center;
}

